AIRFLOW_UID=50000

AIRFLOW_CONN_AWS_S3=aws://minio_access_key:minio_secret_key@/?endpoint_url=http%3A%2F%2Fstorage%3A9000&region_name=us-east-1
AIRFLOW_CONN_DWH_CONNECTION=postgresql://postgres:123456@local-db:5432/postgres
AIRFLOW_CONN_MSTEAMS_WEBHOOK=https://ask-your-team-to-provide-you-with-this-url

_PIP_ADDITIONAL_REQUIREMENTS=
