# Python cache
__pycache__/
*.py[codz]
*$py.class
*.pyc

# Virtual environments
.env
.envrc
.venv/
venv/
env/
ENV/

# Build / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Test / type checker / linter cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

# Jupyter
.ipynb_checkpoints/

# IDE files
.idea/
.vscode/

# Airflow / local runtime files
logs/
postgres_data/

# Airflow generated config
config/*
!config/.gitkeep

# Keep plugins folder but ignore generated/plugin runtime files
plugins/*
!plugins/.gitkeep

# OS files
.DS_Store
Thumbs.db
